* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#start-page {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/start-page-bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#start-page .menu {
  height: 100vh;
  width: 100%;
  background-color: #ffffff66;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 2;
  top: -100%;
  left: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-page .menu nav ul li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 20px;
  color: black;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
#start-page .menu #closed-btn-menu {
  font-size: 40px;
  margin-top: 20px;
  cursor: pointer;
}
#start-page .open-menu {
  top: 0%;
}
#start-page .container {
  margin-top: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-page .container span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: block;
  text-align: center;
}
#start-page .container h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: white;
  max-width: 829px;
  text-align: center;
  margin: 20px 0 50px 0;
  padding: 0px 5px;
}
#start-page span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  display: block;
  text-align: center;
}
#start-page h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: white;
  max-width: 829px;
  text-align: center;
  margin: 20px 0 50px 0;
}

.button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background: #3259a6;
}

#header {
  width: 100%;
  height: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #A1A1A1;
}
#header nav {
  margin-right: 21%;
}
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#header nav li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}
#header nav li:nth-child(5) {
  margin-right: 0px;
}
#header nav li::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#header nav li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#header #btn-menu {
  color: white;
  font-size: 40px;
  cursor: pointer;
  display: none;
  position: relative;
}

@media (max-width: 1024px) {
  #start-page {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/start-page-bg-1024.png);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg-1024.png);
    background-size: 100% 100%;
  }
  #start-page .container h1 {
    font-size: 40px;
  }

  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header nav {
    margin-right: 0px;
  }
  #header nav ul {
    width: 100%;
  }
}
@media (max-width: 900px) {
  #header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header nav {
    display: none;
  }
  #header #btn-menu {
    display: block;
  }
}
.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 5px;
}

#services {
  padding: 110px 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#services .container h2 {
  text-align: center;
  max-width: 739px;
  margin: 0 auto 50px;
}
#services .container p {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 70px;
}
#services button {
  margin-top: 55px;
}

.h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.text-s {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-container .services-block {
  position: relative;
  height: 153px;
  width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}
.services-container .services-block .wrapper-img-2 {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services-container .services-block .wrapper-img-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  border: 1px solid #4985FF;
  background-color: #4985FF;
}
.services-container .services-block .wrapper-img-2 .wrapper-img-1 {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #4985FF;
}
.services-container .services-block .services-block-text p {
  text-align: left !important;
  max-width: 220px !important;
  margin: 0 !important;
}

@media (max-width: 1150px) {
  .services-container .services-block {
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services-container .services-block .wrapper-img-2 {
    position: static;
    width: 90px;
    height: 90px;
    margin-bottom: 12px;
  }
  .services-container .services-block .wrapper-img-2 .wrapper-img-1 {
    width: 70px;
    height: 70px;
  }
  .services-container .services-block .services-block-text h4 {
    text-align: center !important;
  }
  .services-container .services-block .services-block-text p {
    text-align: center !important;
  }
}
@media (max-width: 900px) {
  .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .services-container .services-block {
    margin-bottom: 20px;
  }
  .services-container .services-block .services-block-text p {
    text-align: center !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
}
#standarts {
  padding: 100px 0 70px;
  background-color: #F6F6F8;
}

.standards-content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 90px;
}
.standards-content-container .standards-text-block {
  max-width: 489px;
  margin-top: 52px;
}
.standards-content-container .standards-text-block p {
  margin: 40px 0 30px;
}
.standards-content-container .standards-img {
  width: 500px;
  height: 400px;
  background: url(../img/standards/standards-img.jpeg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.standards-content-container2 {
  padding: 70px 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.standards-content-container2 .standards-content-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.standards-content-container2 .standards-content-block div img {
  margin-right: 20px;
}
.standards-content-container2 .standards-content-block div p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

@media (max-width: 1150px) {
  .standards-content-container .standards-text-block {
    margin-top: 0;
  }
  .standards-content-container .standards-text-block p {
    max-width: 400px;
  }
  .standards-content-container .standards-img {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 900px) {
  #standarts {
    padding: 50px 0 35px;
  }

  .standards-content-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
  .standards-content-container .standards-text-block {
    max-width: 489px;
    margin-top: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .standards-content-container .standards-text-block p {
    margin: 40px 0px 30px 0px;
    text-align: center;
  }
  .standards-content-container .standards-text-block h2 {
    text-align: center;
  }

  .standards-content-container2 {
    padding: 25px 5px;
  }
  .standards-content-container2 .standards-content-block div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .standards-content-container2 .standards-content-block div img {
    width: 15px;
    height: 38px;
  }
  .standards-content-container2 .standards-content-block div p {
    font-size: 18px;
  }
  .standards-content-container2 .standards-content-block span {
    font-size: 10px;
  }
}
#specialization {
  position: relative;
  padding-bottom: 482px;
}
#specialization .specialization-bg {
  padding-top: 100px;
  height: 490px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}
#specialization .specialization-bg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#specialization .specialization-bg .container h2 {
  color: white;
  max-width: 540px;
}
#specialization .specialization-container {
  position: absolute;
  top: 258px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1110px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 5px 85px 0px;
}
#specialization .specialization-container .specialization-block-content {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#specialization .specialization-container .specialization-block-content:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#specialization .specialization-container .specialization-block-content img {
  border-radius: 10px;
  margin-bottom: 30px;
}
#specialization .specialization-container .specialization-block-content span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985FF;
}
#specialization .specialization-container .specialization-block-content span h4 {
  display: inline;
  margin-left: 2px;
}
#specialization .specialization-container .specialization-block-content p {
  max-width: 350px;
  margin: 30px 0px 30px 0px;
  margin-right: 0px !important;
  cursor: pointer;
}

@media (max-width: 1150px) {
  .specialization-bg {
    height: 450px !important;
  }

  .specialization-container {
    min-width: 900px !important;
  }
  .specialization-container .specialization-block-content {
    max-width: 270px;
  }
  .specialization-container .specialization-block-content img {
    width: 270px;
    height: 220px;
  }
}
@media (max-width: 900px) {
  #specialization {
    padding-bottom: 30px;
  }

  .specialization-bg {
    padding-top: 40px !important;
    height: 290px !important;
  }
  .specialization-bg .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specialization-bg .container h2 {
    text-align: center;
  }
  .specialization-bg .container button {
    margin-top: 20px;
  }

  .specialization-container {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    -webkit-transform: translate(0) !important;
            transform: translate(0) !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 270px !important;
    padding: 0px 5px 43px 0px;
  }
  .specialization-container .specialization-block-content {
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .specialization-container .specialization-block-content:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .specialization-container .specialization-block-content img {
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .specialization-container .specialization-block-content span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4985FF;
  }
  .specialization-container .specialization-block-content span h4 {
    display: inline;
    margin-left: 2px;
  }
  .specialization-container .specialization-block-content p {
    text-align: center;
    margin: 30px 0px 30px 0px;
    margin-right: 0px !important;
    cursor: pointer;
  }
}
#projects {
  padding: 100px 0 130px;
  background-color: #F6F6F8;
}
#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#projects .container h2 {
  text-align: center;
}
#projects .container p {
  text-align: center;
  max-width: 730px;
  margin: 50px auto 70px;
}
#projects .container .projects-img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
#projects .container .projects-img-container img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#projects .container .projects-img-container img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#projects .container button {
  margin: 50px auto 0;
}

@media (max-width: 1150px) {
  #projects .container .projects-img-container img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 900px) {
  #projects {
    padding: 50px 0 65px;
  }
  #projects .container h2 {
    text-align: center;
  }
  #projects .container p {
    text-align: center;
    max-width: 730px;
    margin: 20px 20px;
  }
  #projects .container .projects-img-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    padding: 0 5px;
    margin: 0 auto;
  }
  #projects .container .projects-img-container img {
    -webkit-transition: 0s;
    transition: 0s;
    margin: 10px;
  }
  #projects .container .projects-img-container img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #projects .container button {
    margin: 50px auto 0;
  }
}
.our-work-bg {
  height: 570px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.15))), url(../img/our-work/our-work-bg.jpg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg.jpg);
  background-size: 100% 100%;
  position: relative;
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-work-bg h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.our-work-bg span {
  color: #FFFFFF;
}
.our-work-bg .our-work-video-bg {
  min-width: 970px;
  height: 430px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4))), url(../img/our-work/video-bg.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4)), url(../img/our-work/video-bg.png);
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 220px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.our-work-bg .our-work-video-bg .our-work-video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.our-work-bg .our-work-video-bg .our-work-video-btn:hover {
  background-color: #ffffff36;
}
.our-work-bg .our-work-video-bg .our-work-video-btn img {
  margin-right: 21px;
}
.our-work-bg .our-work-video-bg .our-work-video-btn span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

@media (max-width: 1150px) {
  .our-work-bg {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.15))), url(../img/our-work/our-work-bg1.png);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg1.png);
    background-size: 100% 100%;
  }
  .our-work-bg .our-work-video-bg {
    min-width: 770px;
    height: 430px;
  }
  .our-work-bg .our-work-video-bg .our-work-video-btn {
    padding: 10px 20px;
  }
}
@media (max-width: 900px) {
  .our-work-bg {
    height: 260px;
    padding: 25px 0 0;
  }
  .our-work-bg h2 {
    margin-bottom: 10px;
  }
  .our-work-bg .our-work-video-bg {
    min-width: 350px;
    height: 210px;
    top: 150px;
  }
  .our-work-bg .our-work-video-bg .our-work-video-btn {
    padding: 2px 10px;
  }
  .our-work-bg .our-work-video-bg .our-work-video-btn img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .our-work-bg .our-work-video-bg .our-work-video-btn span {
    font-size: 12px;
  }
}
#mailing {
  padding: 0px 0px 85px 0px;
}
#mailing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 165px;
  border-top: 1px solid #E0E0E0;
  padding-top: 85px;
}
#mailing .container h4 {
  margin-bottom: 20px;
}
#mailing .container .text-s {
  text-align: center;
  margin-bottom: 30px;
}
#mailing .container .mailing-container-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
#mailing .container .mailing-container-email input {
  width: 299px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  padding: 15px 0 15px 13px;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
}
#mailing .container .mailing-container-email button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  padding: 15px 36px 15px 26px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#mailing .container .mailing-container-email button:hover {
  background: #3259a6;
}
#mailing .container .mailing-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

@media (max-width: 900px) {
  #mailing {
    padding: 0px 0px 20px 0px;
  }
  #mailing .container {
    margin-top: 115px;
    padding-top: 45px;
    width: 80%;
  }
  #mailing .container h4 {
    margin-bottom: 20px;
  }
  #mailing .container .text-s {
    text-align: center;
    margin-bottom: 30px;
  }
  #mailing .container .mailing-container-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
  }
  #mailing .container .mailing-container-email input {
    width: 170px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    padding: 15px 0 15px 13px;
    border: 1px solid #F2F2F2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 0px 0px 30px;
  }
  #mailing .container .mailing-container-email button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #4985FF;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
            box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    padding: 5px 16px 5px 11px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #mailing .container .mailing-container-email button:hover {
    background: #3259a6;
  }
  #mailing .container .mailing-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
  }
}
#footer {
  background-color: #F6F6F8;
  padding-top: 70px;
  padding-bottom: 30px;
}
#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 70px;
}
#footer .container .footer-content-block {
  min-width: 255px;
}
#footer .container .footer-content-block span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: left;
}
#footer .container .footer-content-block ul {
  margin-top: 35px;
}
#footer .container .footer-content-block ul li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#footer .container .footer-content-block ul li:nth-child(4) {
  margin-bottom: 0;
}
#footer .container .footer-content-block ul li:hover {
  color: #595959;
}
#footer .container .footer-content-block ul li img {
  margin-right: 15px;
}
#footer span {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

@media (max-width: 1150px) {
  #footer .container .footer-content-block {
    min-width: 235px;
  }
  #footer .container .footer-content-block h4 {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  #footer {
    padding-top: 35px;
    padding-bottom: 15px;
  }
  #footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 35px;
  }
  #footer .container .footer-content-block {
    margin-top: 20px;
    min-width: 255px;
  }
  #footer .container .footer-content-block span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: left;
  }
  #footer .container .footer-content-block ul {
    margin-top: 35px;
    width: 255px;
  }
  #footer span {
    margin-top: 15px;
  }
}
@media (max-width: 1150px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .h2 {
    font-size: 26px;
  }

  .h4 {
    font-size: 15px;
  }

  .text-s {
    font-size: 12px;
  }

  #footer .container .footer-content-block ul li {
    font-size: 12px;
  }
}