* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#start-page {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/start-page-bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-page span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-top: 220px;
}
#start-page h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: white;
  max-width: 829px;
  text-align: center;
  margin: 20px 0 50px 0;
}

.button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}

#header {
  width: 100%;
  height: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #A1A1A1;
}
#header nav {
  margin-right: 21%;
}
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#header nav li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}
#header nav li:nth-child(5) {
  margin-right: 0px;
}
#header nav li::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 1s;
  transition: 1s;
}
#header nav li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

#services {
  padding: 110px 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#services .container h2 {
  text-align: center;
  max-width: 739px;
  margin: 0 auto 50px;
}
#services .container p {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 70px;
}
#services button {
  margin-top: 55px;
}

.h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.text-s {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-container .services-block {
  position: relative;
  height: 153px;
  width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}
.services-container .services-block .wrapper-img-2 {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.services-container .services-block .wrapper-img-2 .wrapper-img-1 {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #4985FF;
}
.services-container .services-block .services-block-text h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}
.services-container .services-block .services-block-text p {
  text-align: left !important;
  max-width: 220px !important;
  margin: 0 !important;
}