* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#start-page {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/start-page-bg.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#start-page span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-top: 220px;
}
#start-page h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: white;
  max-width: 829px;
  text-align: center;
  margin: 20px 0 50px 0;
}

.button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
}

#header {
  width: 100%;
  height: 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 1px solid #A1A1A1;
}
#header nav {
  margin-right: 21%;
}
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
#header nav li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}
#header nav li:nth-child(5) {
  margin-right: 0px;
}
#header nav li::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 1s;
  transition: 1s;
}
#header nav li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

#services {
  padding: 110px 0 105px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#services .container h2 {
  text-align: center;
  max-width: 739px;
  margin: 0 auto 50px;
}
#services .container p {
  text-align: center;
  max-width: 730px;
  margin: 0 auto 70px;
}
#services button {
  margin-top: 55px;
}

.h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.text-s {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-container .services-block {
  position: relative;
  height: 153px;
  width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto;
}
.services-container .services-block .wrapper-img-2 {
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #E0E0E0;
  position: absolute;
  top: 0px;
  left: 0px;
}
.services-container .services-block .wrapper-img-2 .wrapper-img-1 {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #4985FF;
}
.services-container .services-block .services-block-text h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}
.services-container .services-block .services-block-text p {
  text-align: left !important;
  max-width: 220px !important;
  margin: 0 !important;
}

#standarts {
  padding: 100px 0 70px;
  background-color: #F6F6F8;
}

.standards-content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 90px;
}
.standards-content-container .standards-text-block {
  max-width: 489px;
  margin-top: 52px;
}
.standards-content-container .standards-text-block p {
  margin: 40px 0 30px;
}
.standards-content-container .standards-text-block a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}
.standards-content-container .standards-img {
  width: 500px;
  height: 400px;
  background: url(../img/standards/standards-img.jpeg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.standards-content-container2 {
  padding: 70px 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.standards-content-container2 .standards-content-block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.standards-content-container2 .standards-content-block div img {
  margin-right: 20px;
}
.standards-content-container2 .standards-content-block div p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

#projects {
  padding: 100px 0 130px;
  background-color: #F6F6F8;
}
#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#projects .container h2 {
  text-align: center;
}
#projects .container p {
  text-align: center;
  max-width: 730px;
  margin: 50px auto 70px;
}
#projects .container .projects-img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#projects .container button {
  margin: 50px auto 0;
}

.our-work-bg {
  height: 570px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.15))), url(../img/our-work/our-work-bg.jpg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg.jpg);
  background-size: 100% 100%;
  position: relative;
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-work-bg h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.our-work-bg span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.our-work-bg .our-work-video-bg {
  min-width: 970px;
  height: 430px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4))), url(../img/our-work/video-bg.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4)), url(../img/our-work/video-bg.png);
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 220px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.our-work-bg .our-work-video-bg .our-work-video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  cursor: pointer;
}
.our-work-bg .our-work-video-bg .our-work-video-btn img {
  margin-right: 21px;
}
.our-work-bg .our-work-video-bg .our-work-video-btn span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

#mailing {
  padding: 0px 0px 85px 0px;
}
#mailing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 165px;
  border-top: 1px solid #E0E0E0;
  padding-top: 85px;
}
#mailing .container h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
#mailing .container .text-s {
  text-align: center;
  margin-bottom: 30px;
}
#mailing .container .mailing-container-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
#mailing .container .mailing-container-email input {
  width: 299px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  padding: 15px 0 15px 13px;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0px 0px 30px;
}
#mailing .container .mailing-container-email button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  padding: 15px 36px 15px 26px;
}
#mailing .container .mailing-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

#footer {
  background-color: #F6F6F8;
  padding-top: 70px;
  padding-bottom: 30px;
}
#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 70px;
}
#footer .container .footer-content-block {
  min-width: 255px;
}
#footer .container .footer-content-block span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-align: left;
}
#footer .container .footer-content-block ul {
  margin-top: 35px;
}
#footer .container .footer-content-block ul li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}
#footer .container .footer-content-block ul li:nth-child(4) {
  margin-bottom: 0;
}
#footer .container .footer-content-block ul li img {
  margin-right: 15px;
}
#footer span {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  /* grey */
  color: #999999;
}