#footer {
    background-color: #F6F6F8;
    padding-top: 70px;
    padding-bottom: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 70px;
        .footer-content-block {
            min-width: 255px;
            span {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-align: left;
            }
            ul {
                margin-top: 35px;
                li {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #999999;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 30px;
                    transition: 0.5s;
                    &:nth-child(4) {
                        margin-bottom: 0;
                    }
                    &:hover {
                        color: #595959;
                    }
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    span {
        display: block;
        text-align: center;
        margin-top: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        color: #999999;
    }
}

@media (max-width:1150px) {
    #footer {
        .container {
            .footer-content-block {
                min-width: 235px;
                h4 {
                    font-size: 14px;
                }
                ul {
                    li {
                        img {}
                    }
                }
            }
        }
    }
}