#footer {
    background-color: #F6F6F8;
    padding-top: 70px;
    padding-bottom: 30px;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 70px;
        .footer-content-block {
            min-width: 255px;
            span {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                text-align: left;
            }
            ul {
                margin-top: 35px;
                li {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #999999;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 30px;
                    -webkit-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
                    &:nth-child(4) {
                        margin-bottom: 0;
                    }
                    &:hover {
                        color: #595959;
                    }
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    span {
        display: block;
        text-align: center;
        margin-top: 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        color: #999999;
    }
}

@media (max-width:1150px) {
    #footer {
        .container {
            .footer-content-block {
                min-width: 235px;
                h4 {
                    font-size: 14px;
                }
                ul {
                    li {
                        img {}
                    }
                }
            }
        }
    }
}

@media (max-width:900px) {
    #footer {
        padding-top: 35px;
        padding-bottom: 15px;
        .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-bottom: 35px;
            .footer-content-block {
                margin-top: 20px;
                min-width: 255px;
                span {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    text-align: left;
                }
                ul {
                    margin-top: 35px;
                    width: 255px;
                }
            }
        }
        span {
            margin-top: 15px;
        }
    }
}