#mailing {
    padding: 0px 0px 85px 0px;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 165px;
        border-top: 1px solid #E0E0E0;
        padding-top: 85px;
        h4 {
            margin-bottom: 20px;
        }
        .text-s {
            text-align: center;
            margin-bottom: 30px;
        }
        .mailing-container-email {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 35px;
            input {
                width: 299px;
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                color: #999999;
                padding: 15px 0 15px 13px;
                border: 1px solid #F2F2F2;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                border-radius: 30px 0px 0px 30px;
            }
            button {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                background: #4985FF;
                -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                border-radius: 0px 30px 30px 0px;
                padding: 15px 36px 15px 26px;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
                &:hover {
                    background: #3259a6;
                }
            }
        }
        .mailing-text {
            font-family: $montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            text-align: center;
            color: #999999;
        }
    }
}

@media (max-width:1024px) {
    #mailing {
        padding: 0px 0px 40px 0px;
        .container {
            margin-top: 100px;
            padding-top: 40px;
            h4 {
                margin-bottom: 15px;
            }
            .text-s {
                margin-bottom: 20px;
            }
            .mailing-container-email {
                input {
                    width: 230px;
                    padding: 10px 0 10px 13px;
                    font-size: 13px;
                }
                button {
                    font-size: 13px;
                    &:hover {
                        background: #3259a6;
                    }
                }
            }
            .mailing-text {
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                text-align: center;
                color: #999999;
            }
        }
    }
}


/* @media (max-width:900px) {
    #mailing {
        padding: 0px 0px 20px 0px;
        .container {
            margin-top: 115px;
            padding-top: 45px;
            width: 80%;
            h4 {
                margin-bottom: 20px;
            }
            .text-s {
                text-align: center;
                margin-bottom: 30px;
            }
            .mailing-container-email {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 35px;
                input {
                    width: 170px;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 21px;
                    color: #999999;
                    padding: 15px 0 15px 13px;
                    border: 1px solid #F2F2F2;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                    border-radius: 30px 0px 0px 30px;
                }
                button {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #4985FF;
                    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                    border-radius: 0px 30px 30px 0px;
                    padding: 5px 16px 5px 11px;
                    -webkit-transition: 0.5s;
                    -o-transition: 0.5s;
                    transition: 0.5s;
                    &:hover {
                        background: #3259a6;
                    }
                }
            }
            .mailing-text {
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 21px;
                text-align: center;
                color: #999999;
            }
        }
    }
} */