.our-work-bg {
    height: 570px;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.10)), to(rgba(255, 255, 255, 0.15))), url(../img/our-work/our-work-bg.jpg);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg.jpg);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg.jpg);
    background-size: 100% 100%;
    position: relative;
    padding: 70px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h2 {
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    span {
        color: #FFFFFF;
    }
    .our-work-video-bg {
        width: 970px;
        height: 430px;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4))), url(../img/our-work/video-bg.png);
        background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4)), url(../img/our-work/video-bg.png);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4)), url(../img/our-work/video-bg.png);
        background-size: 100% 100%;
        position: absolute;
        left: 50%;
        top: 220px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        .our-work-video-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 20px 40px;
            border: 1px solid #FFFFFF;
            border-radius: 200px;
            cursor: pointer;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            &:hover {
                background-color: #ffffff36;
            }
            img {
                margin-right: 21px;
            }
            span {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 25px;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width:1024px) {
    .our-work-bg {
        height: 380px;
        padding: 35px 0 0;
        h2 {
            margin-bottom: 15px;
        }
        span {
            color: #FFFFFF;
        }
        .our-work-video-bg {
            width: 600px;
            height: 280px;
            top: 150px;
            .our-work-video-btn {
                padding: 8px 10px;
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width:700px) {
    .our-work-bg {
        height: 260px;
        padding: 25px 0 0;
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.10)), to(rgba(255, 255, 255, 0.15))), url(../img/our-work/our-work-bg700.png);
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg700.png);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.15)), url(../img/our-work/our-work-bg700.png);
        h2 {
            margin-bottom: 10px;
        }
        .our-work-video-bg {
            width: 250px;
            height: 160px;
            top: 150px;
            .our-work-video-btn {
                padding: 2px 8px;
                img {
                    margin-right: 18px;
                    width: 20px;
                    height: 20px;
                }
                span {
                    font-size: 10px;
                }
            }
        }
    }
}