#projects {
    padding: 100px 0 130px;
    background-color: #F6F6F8;
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            max-width: 730px;
            margin: 50px auto 70px;
        }
        .projects-img-container {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            cursor: pointer;
        }
        button {
            margin: 50px auto 0;
        }
    }
}

@media (max-width:1024px) {
    #projects {
        padding: 40px 0 40px;
        .container {
            p {
                margin: 30px auto 30px;
            }
            .projects-img-container {
                img {
                    width: 150px;
                    height: 150px;
                }
            }
        }
        button {
            margin: 25px auto 0;
        }
    }
}

@media (max-width:700px) {
    #projects {
        padding: 25px 0 32px;
        .container {
            p {
                margin: 10px 10px;
            }
            .projects-img-container {
                width: 90%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                cursor: pointer;
                padding: 0 5px;
                margin: 0 auto;
                img {
                    -webkit-transition: 0s;
                    -o-transition: 0s;
                    transition: 0s;
                    margin: 10px;
                    &:hover {
                        -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
            button {
                margin: 25px auto 0;
            }
        }
    }
}