$montserrat: 'Montserrat',
sans-serif;
$colorText2: #999999;
$colorText3: #323232;
.container {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0 5px;
}

#services {
    padding: 110px 0 105px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .container {
        h2 {
            text-align: center;
            max-width: 739px;
            margin: 0 auto 50px;
        }
        p {
            text-align: center;
            max-width: 730px;
            margin: 0 auto 70px;
        }
    }
    button {
        margin-top: 55px;
    }
}

.h2 {
    font-family: $montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    color: $colorText3;
}

.text-s {
    font-family: $montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $colorText2;
}

.h4 {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;
}

.services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .services-block {
        position: relative;
        height: 153px;
        width: 345px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin: 0 auto;
        .wrapper-img-2 {
            width: 110px;
            height: 110px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 50%;
            border: 1px solid #E0E0E0;
            position: absolute;
            top: 0px;
            left: 0px;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                cursor: pointer;
                border: 1px solid #4985FF;
                background-color: #4985FF;
            }
            .wrapper-img-1 {
                width: 90px;
                height: 90px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 50%;
                background-color: white;
                border: 1px solid #4985FF;
            }
        }
        .services-block-text {
            p {
                text-align: left !important;
                max-width: 220px !important;
                margin: 0 !important;
            }
        }
    }
}

@media (max-width:1024px) {
    #services {
        padding: 80px 0 75px 0;
        .container {
            h2 {
                margin: 0 auto 30px;
            }
            p {
                margin: 0 auto 35px;
            }
        }
        button {
            margin-top: 30px;
        }
    }
    .services-container {
        .services-block {
            width: auto;
            height: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .wrapper-img-2 {
                position: static;
                width: 70px;
                height: 70px;
                margin-bottom: 8px;
                .wrapper-img-1 {
                    width: 50px;
                    height: 50px;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .services-block-text {
                h4 {
                    text-align: center !important;
                }
                p {
                    text-align: center !important;
                }
            }
        }
    }
}

@media (max-width:700px) {
    #services {
        padding: 30px 0 28px 0;
        .container {
            h2 {
                margin: 0 0 15px;
            }
            p {
                margin: 0 0 17px;
            }
        }
        button {
            margin-top: 15px;
        }
    }
    .services-container {
        width: 100%;
        .services-block {
            .wrapper-img-2 {
                position: static;
                width: 55px;
                height: 55px;
                margin-bottom: 8px;
                .wrapper-img-1 {
                    width: 35px;
                    height: 35px;
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            .services-block-text {
                padding: 0 5px;
                p {
                    text-align: center !important;
                    max-width: 100% !important;
                    margin: 0 !important;
                }
                h4 {
                    margin: 0 0 10px;
                }
            }
        }
    }
}