#specialization {
    position: relative;
    padding-bottom: 482px;
    .specialization-bg {
        padding-top: 100px;
        height: 490px;
        width: 100%;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                color: white;
                max-width: 540px;
            }
        }
    }
    .specialization-container {
        position: absolute;
        top: 258px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        min-width: 1110px;
        border-bottom: 1px solid #E0E0E0;
        padding: 0px 5px 85px 0px;
        .specialization-block-content {
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                transform: scale(1.05);
            }
            img {
                border-radius: 10px;
                margin-bottom: 30px;
            }
            span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #4985FF;
                h4 {
                    display: inline;
                    margin-left: 2px;
                }
            }
            p {
                max-width: 350px;
                margin: 30px 0px 30px 0px;
                margin-right: 0px !important;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1150px) {
    .specialization-bg {
        height: 450px !important;
    }
    .specialization-container {
        min-width: 900px !important;
        .specialization-block-content {
            max-width: 270px;
            img {
                width: 270px;
                height: 220px;
            }
        }
    }
}