#specialization {
    position: relative;
    padding-bottom: 482px;
    .specialization-bg {
        padding-top: 100px;
        height: 490px;
        width: 100%;
        background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
        background: -o-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
        .container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            h2 {
                color: white;
                max-width: 540px;
            }
        }
    }
    .specialization-container {
        position: absolute;
        top: 258px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-width: 1110px;
        border-bottom: 1px solid #E0E0E0;
        padding: 0px 5px 85px 0px;
        .specialization-block-content {
            cursor: pointer;
            img {
                border-radius: 10px;
                margin-bottom: 30px;
            }
            span {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #4985FF;
                h4 {
                    display: inline;
                    margin-left: 2px;
                }
            }
            p {
                margin: 30px 0px 30px 0px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1024px) {
    #specialization {
        padding-bottom: 380px;
        .specialization-bg {
            height: 300px;
            padding-top: 50px;
        }
        .specialization-container {
            min-width: 700px;
            padding: 0px 5px 35px 0px;
            top: 190px;
            left: 50%;
            .specialization-block-content {
                max-width: 200px;
                img {
                    width: 200px;
                    height: 150px;
                    margin-bottom: 15px;
                }
                p {
                    margin: 15px 0px;
                }
            }
        }
    }
}

@media (max-width:700px) {
    #specialization {
        height: 1350px;
        .specialization-bg {
            padding-top: 20px;
            height: 250px;
            .container {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                h2 {
                    text-align: center;
                }
                button {
                    margin-top: 20px;
                }
            }
        }
        .specialization-container {
            top: 135px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            min-width: 270px;
            padding: 0px 5px 43px 0px;
            .specialization-block-content {
                cursor: pointer;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
                max-width: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                margin-top: 20px;
                &:hover {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
                img {
                    margin-bottom: 15px;
                }
                span {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4985FF;
                    h4 {
                        display: inline;
                        margin-left: 2px;
                    }
                }
                p {
                    text-align: center;
                    margin: 15px 0px 15px 0px;
                    margin-right: 0px;
                    cursor: pointer;
                }
            }
        }
    }
}