$montserrat: 'Montserrat',
sans-serif;
#standarts {
    padding: 100px 0 70px;
    background-color: #F6F6F8;
}

.standards-content-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
    .standards-text-block {
        max-width: 489px;
        margin-top: 52px;
        p {
            margin: 40px 0 30px;
        }
    }
    .standards-img {
        width: 500px;
        height: 400px;
        background: url(../img/standards/standards-img.jpeg);
        background-size: 100% 100%;
        -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
    }
}

.link {
    font-family: $montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #4985FF;
}

.standards-content-container2 {
    padding: 70px 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .standards-content-block {
        div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            img {
                margin-right: 20px;
            }
            p {
                font-family: $montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 53px;
                color: #000000;
            }
        }
    }
}

@media (max-width:1024px) {
    #standarts {
        padding: 50px 0 50px;
        background-color: #F6F6F8;
    }
    .standards-content-container {
        display: flex;
        align-items: center;
        padding-bottom: 45px;
        .standards-text-block {
            margin-top: 0;
            margin-right: 10px;
            p {
                max-width: 400px;
                margin: 20px 0 15px;
            }
        }
        .standards-img {
            width: 400px;
            height: 280px;
        }
    }
    .standards-content-container2 {
        padding: 35px 0px 0;
        .standards-content-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                img {
                    margin-right: 15px;
                }
                p {
                    font-size: 25px;
                    line-height: 53px;
                    color: #000000;
                }
            }
        }
    }
}


/* @media (max-width:900px) {
    #standarts {
        padding: 50px 0 35px;
    }
    .standards-content-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 40px;
        .standards-text-block {
            max-width: 489px;
            margin-top: 52px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            p {
                margin: 40px 0px 30px 0px;
                text-align: center;
            }
            h2 {
                text-align: center;
            }
        }
    }
    .standards-content-container2 {
        padding: 25px 5px;
        .standards-content-block {
            div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                img {
                    width: 15px;
                    height: 38px;
                }
                p {
                    font-size: 18px;
                }
            }
            span {
                font-size: 10px;
            }
        }
    }
} */