$montserrat: 'Montserrat',
sans-serif;
$bgButton:#4985FF;
$colorText:white;
#start-page {
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../img/start-page-bg.jpg);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
    background-size: 100% 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .menu {
        height: 100vh;
        width: 100%;
        background-color: #ffffff66;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 2;
        top: -200%;
        left: 0%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        nav {
            ul {
                li {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 34px;
                    line-height: 20px;
                    color: black;
                    display: block;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }
        }
        #closed-btn-menu {
            font-size: 40px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    .start-page-text-content-container {
        width: 100%;
        height: 89%;
        .container {
            margin-top: 220px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            span {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: $colorText;
                display: block;
                text-align: center;
            }
            h1 {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: $colorText;
                max-width: 829px;
                text-align: center;
                margin: 20px 0 50px 0;
            }
        }
        span {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $colorText;
            display: block;
            text-align: center;
        }
        h1 {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: $colorText;
            max-width: 829px;
            text-align: center;
            margin: 20px 0 50px 0;
        }
    }
}

.button {
    width: 200px;
    height: 45px;
    background: $bgButton;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $colorText;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.button:hover {
    background: #3259a6;
}

#header {
    width: 100%;
    height: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #A1A1A1;
    nav {
        margin-right: 21%;
        height: 100%;
        ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
        }
        li {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: $colorText;
            margin-right: 40px;
            cursor: pointer;
            position: relative;
            &:nth-child(5) {
                margin-right: 0px;
            }
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $colorText;
                position: absolute;
                bottom: 0;
                left: 0;
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }
            &:hover::before {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }
    }
    #btn-menu {
        color: white;
        font-size: 40px;
        cursor: pointer;
        display: none;
        position: relative;
    }
}

@media (max-width:1024px) {
    #start-page {
        height: 60vh;
        .start-page-text-content-container {
            display: flex;
            align-items: center;
            .container {
                margin-top: 0px;
                h1 {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
    #header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        nav {
            margin-right: 0px;
            ul {
                width: 100%;
            }
        }
    }
}

@media (max-width:700px) {
    #start-page {
        height: 100vh;
        .container {
            h1 {
                font-size: 35px;
            }
        }
    }
    #header {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        nav {
            display: none;
        }
        #btn-menu {
            display: block;
        }
    }
}