$montserrat: 'Montserrat',
sans-serif;
$bgButton:#4985FF;
$colorText:white;
#start-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $colorText;
        margin-top: 220px;
    }
    h1 {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: $colorText;
        max-width: 829px;
        text-align: center;
        margin: 20px 0 50px 0;
    }
}

.button {
    width: 200px;
    height: 45px;
    background: $bgButton;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $colorText;
}

#header {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #A1A1A1;
    nav {
        margin-right: 21%;
        ul {
            display: flex;
            height: 100%;
        }
        li {
            height: 100%;
            display: flex;
            align-items: center;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: $colorText;
            margin-right: 40px;
            cursor: pointer;
            position: relative;
            &:nth-child(5) {
                margin-right: 0px;
            }
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $colorText;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(0);
                transition: 1s;
            }
            &:hover::before {
                transform: scale(1);
            }
        }
    }
}