$montserrat: 'Montserrat',
sans-serif;
$bgButton:#4985FF;
$colorText:white;
#start-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .menu {
        height: 100vh;
        width: 100%;
        background-color: #ffffff66;
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 2;
        top: -100%;
        left: 0%;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nav {
            ul {
                li {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 34px;
                    line-height: 20px;
                    color: black;
                    display: block;
                    text-align: center;
                    margin-bottom: 40px;
                }
            }
        }
        #closed-btn-menu {
            font-size: 40px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
    .open-menu {
        top: 0%;
    }
    .container {
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $colorText;
            display: block;
            text-align: center;
        }
        h1 {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: $colorText;
            max-width: 829px;
            text-align: center;
            margin: 20px 0 50px 0;
            padding: 0px 5px;
        }
    }
    span {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $colorText;
        display: block;
        text-align: center;
    }
    h1 {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        color: $colorText;
        max-width: 829px;
        text-align: center;
        margin: 20px 0 50px 0;
    }
}

.button {
    width: 200px;
    height: 45px;
    background: $bgButton;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $colorText;
    transition: 0.5s;
}

.button:hover {
    background: #3259a6;
}

#header {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #A1A1A1;
    nav {
        margin-right: 21%;
        ul {
            display: flex;
            height: 100%;
        }
        li {
            height: 100%;
            display: flex;
            align-items: center;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            color: $colorText;
            margin-right: 40px;
            cursor: pointer;
            position: relative;
            &:nth-child(5) {
                margin-right: 0px;
            }
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $colorText;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: scale(0);
                transition: 0.5s;
            }
            &:hover::before {
                transform: scale(1);
            }
        }
    }
    #btn-menu {
        color: white;
        font-size: 40px;
        cursor: pointer;
        display: none;
        position: relative;
    }
}

@media (max-width:1024px) {
    #start-page {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/start-page-bg-1024.png);
        background-size: 100% 100%;
        .container {
            h1 {
                font-size: 40px;
            }
        }
    }
    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        nav {
            margin-right: 0px;
            ul {
                width: 100%;
            }
        }
    }
}

@media (max-width:900px) {
    #header {
        justify-content: flex-end;
        nav {
            display: none;
        }
        #btn-menu {
            display: block;
        }
    }
}