@import "null.scss";
@import "start-page.scss";
@import "services.scss";
@import "standards.scss";
@import "specialization.scss";
@import "projects.scss";
@import "our-work.scss";
@import "mailing.scss";
@import "footer.scss";
@media (max-width:1024px) {
    .container {
        max-width: 700px;
    }
    .button {
        width: 170px;
        height: 35px;
        font-size: 12px;
    }
    .h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .text-s {
        font-size: 12px;
        line-height: 20px;
    }
    .h4 {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width:700px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .button {
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    .h2 {
        font-size: 22px;
    }
    .h4 {
        font-size: 11px;
    }
    .text-s {
        font-size: 10px;
    }
    #footer {
        .container {
            .footer-content-block {
                ul {
                    li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}