@import "null.scss";
@import "start-page.scss";
@import "services.scss";
@import "standards.scss";
@import "specialization.scss";
@import "projects.scss";
@import "our-work.scss";
@import "mailing.scss";
@import "footer.scss";
@media (max-width:1024px) {
    .container {
        max-width: 700px;
    }
    .button {
        width: 170px;
        height: 35px;
        font-size: 12px;
    }
    .h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .text-s {
        font-size: 12px;
        line-height: 20px;
    }
    .h4 {
        font-size: 15px;
        line-height: 18px;
    }
    .link {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        color: #4985FF;
    }
}

@media (max-width:900px) {
    .container {
        padding: 0 15px;
    }
    .h2 {
        font-size: 26px;
    }
    .h4 {
        font-size: 15px;
    }
    .text-s {
        font-size: 12px;
    }
    #footer {
        .container {
            .footer-content-block {
                ul {
                    li {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}